# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp

# Private notes
private/
notes/

# Node
node_modules/
package-lock.json
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
